extends layout

block content
    <header>
        <h1>What Do You Mean</h1>
        <p>The only website you need for all your text & tone analysis requirements!</p>
        <a href="/analysis" class="cta-button">Analyze Now!</a>
    </header>
    <div class="container">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <h2>Insights</h2>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
    </div>