<!-- Home page design; very wip! -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDYM</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/jquery-3.7.1.min.js"></script>
</head>
<body>
    block content
</body>
</html>
