extends layout

block content
    <header>
        <h1>What Do You Mean?</h1>
        <p style="font-family: font2">The only website you need for all your text & tone analysis requirements!</p>
        <a href="analysis" class="cta-button">Analyze Now!</a>
        <!-- Menu options -->
        <div class="menu">
            <a href="analysis" class="menu-item">Text Sentiment & Sarcasm Detector</a>
            <!--<a href="analysis" class="menu-item">Sarcasm Detector</a> -->
        </div>
    </header>
    <div class="container">
        <h2 style="font-family: font1">Purpose</h2>
        <p>Texting is a very opaque medium, and it is difficult to interpret emotional state from the way a person types. 
        But in conversations with friends, family, and important people it is especially important to understand how the other interlocutor feels in a given interaction. 
        What Do You Mean (WDYM) aims to clarify these feelings using sentiment analysis. 
        The application can help the user identify their friends’ emotional states, whether their classmates are being sarcastic, whether their crush is flirting with them, and more.</p>
        <h2 style="font-family: font1">Insights</h2>
        <p>By Carrying out our project "What Do You Mean?", we got powerful insights into user needs, sentiment analysis model effectiveness, 
            feature impact, user engagement, data challenges, collaboration effectiveness, and opportunities for continuous improvement. 
            Through user interactions and feedback, we gain understanding of specific user preferences regarding "happiness" and "sarcastic" 
            interpretation(s) in text conversations. By considering factors such as positive language, and the use of certain emojis, you can 
            infer whether a statement reflects genuine happiness or sarcastic intent. This could be widely applicable in many real world applications, 
            one of them being when businesses want to analyze the reviews users leave for them. The ability to differentiate between happiness and sarcasm 
            in text would open up an array of practical applications across different domains, which will inturn contribute to better communication and 
            decision-making processes.</p>
        <h2 style="font-family: font1">About Us</h2>
        <div class="about-us-container">
            <div class="member">
                <img src="images/abbas.png" alt="Abbas Mirza">
                <h3>Abbas Mirza</h3>
                <p>Computer Science + Economics</p>
            </div>
            <div class="member">
                <img src="images/rishab.jpg" alt="Rishab Borah">
                <h3>Rishab Borah</h3>
                <p>Computer Science + Linguistics</p>
            </div>
            <div class="member">
                <img src="images/swarnikaa.jpg" alt="Swarnikaa Kiran">
                <h3>Swarnikaa Kiran</h3>
                <p>Computer Science + Music</p>
            </div>
            <div class="member">
                <img src="images/yenhung.jpg" alt="Yen-Hung Huang">
                <h3>Yen-Hung Huang</h3>
                <p>Computer Science</p>
            </div>
        </div>        
        <!--<p>Random overall description behind thought process of project maybe?.</p>-->
        <h2 style="font-family: font1">Contact Us</h2>
        <p>Email: info@example.com<br>Phone: 123-456-7890</p>
    </div>